// app global css in SCSS form
@font-face {
    font-family: Comfortaa;
    src: url(../statics/fonts/comfortaa-v27-latin-regular.woff);
  }
  
  // declare a class which applies it
  .boid-font-lg {
    font-family: 'Comfortaa';
    font-size: 20px
  }

  .boid-font-md {
    font-family: 'Comfortaa';
    font-size: 15px
  }

  .boid-font-sm {
    font-family: 'Comfortaa';
    font-size: 10px
  }

  .boid-logo-index {
  width: 100%;
  max-width: 700px;
  padding: 25px;}

  .boid-font-menu {
    font-family: 'Comfortaa';
    font-size: 12px
  }

  .boid-font-footer {
    font-family: 'Comfortaa';
    font-size: 15px
  }